{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
  </script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js">
  </script>
  {{ form.media }}
  <link rel="stylesheet" href="{% static 'css/lunch.css' %}">
</head>


<body>
  <div class="col-md-12" id="header">
    <div class="col-md-5">
    </div>
    <div class="col-md-2" id="headlogo">
      <span id="logo"><a href="/">lunchtogether</a></span>
    </div>
    <div class="col-md-5">
    </div>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-8" id="formcontainer">
    <div class="text-center pagination-centered">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="col-md-2">
  </div>

</body>
</html>
